@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700);

html {overflow-x: hidden;}
body {padding: 0;
    margin: 0;
    font-family: Montserrat;
    background: repeating-linear-gradient(45deg, #000000, #011e48 100px);
    /*repeating-linear-gradient(45deg, black, #413d48 100px);*/
    
    background-position: center;
    background-size: 107px 108px;
    background-attachment: fixed;}
	a {text-decoration:none;color:unset;}
div,h1,h2,h3,h4,p,i,a {position:relative;transition:0.4s;}

form,input,textarea,select {font-family:Montserrat;}
:root {
	--color:#848484;
	--color2:#64af35;
}
/*alerts */
div,h1,h2,h3,h4,p,i,a,footer {position:relative;transition:0.4s;}

input,select,textarea,button {font-family: Montserrat;}

a {    text-decoration: unset;
    color: unset;}

input::placeholder {font-size:12px}

.view_counter {
    width: fit-content;
    max-width: 200px;
    text-align: center;
    font-size: 10px;
    padding: 2px 12px;
    background: #848484;
    color: white;
    border-radius: 3px;
    margin: 0 auto;
    top: 0px;
    }
.alert {     padding: 23px;
    width: fit-content;
    font-size: 13px;
    margin: 0px auto;
    font-weight: 500;
    border-radius: 6px;}
	
.danger {background: #ffd0d082;
    color: #d45050;}
.info {    background: #d0deff82;
    color: #5097d4;
}
.success {background: #90ff6c82;
    color: #1aab2c;
}
.card{width: 400px;
    overflow: hidden;
    margin: 20px auto;
    z-index: 0;
    background: linear-gradient(45deg, #ffffff, #FFFFFF);
    background-size: 100% 100%;
    color: black;
    padding: 0px 0px 27px;
	}
	
	.card_content {margin: 0px;
    z-index: 2;
    text-align: center;
    padding: 31px;
    /*background: url(card_images/bg10.png);*/
    -webkit-animation: animateBack 3s linear infinite;
    animation: animateBack 10s linear infinite;
    /*background-position: top;*/
    /*background-attachment: initial;*/
    /*background-size: cover;*/
    /*position: absolute;*/
    width: -webkit-fill-available;
    height: 162px;
    border-bottom-right-radius: 40% 10%;
    border-bottom-left-radius: 40% 10%;
	}
	
	.card_content .c_c_img{
	    border-radius: 50%;
        position: relative;
        max-width: 100%;
        overflow: hidden;
        top: 65%;
	}
	
	.card_content img{
	    height: 150px;
	    border-radius: inherit;
	    border: 4px solid #ffffff;
	    box-shadow: 0px 0px 14px 0px #00000038;
	    max-width: 300px;
	}
	.card_content2 {
	    z-index: 2;
        text-align: center;
        font-weight: 400;
        margin: 25% auto 0px;
        /*background: #0e85b7b5;*/
	}
	
	.card_content2 h2{
	    font-weight: 700;
        text-transform: capitalize;
        margin: 10px 20px 5px;
        letter-spacing: -1px;
    }

	.card_content2 p{text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
    margin: 0px 20px;}

.dis_flex {
    display: block;
    text-align: center;
    padding: 16px 11px 0px;
}
.pad {
    padding: 40px 0 23px !important;
}

.dis_flex .atag {
    padding: 0 8px;
}
.dis_flex .atag .imgtag {
    width: 45px; 
    max-width: 100%;
}
.dis_flex .link_btn:hover {
	background:orange;
	transition:0.3s;
}
.dis_flex .link_btn {  padding: 14px;
    width: fit-content;
    font-size: 15px;
    background: #ffffff3d;
    border-radius: 0px;
    margin: 5px 2px;
    display: inline-block;
}
.dis_flex .link_btn i {
	
}
.contact_details {
        padding: 21px 24px;
}
.contact_details .contact_d{    display: flex;}
.contact_details .contact_d i{ 
    margin: 4px;
    color: white;
    height: 17px;
    font-size: 15px;
    padding: 7px;
    border-radius: 0px;
    text-align: center;
    width: 16px;
    background: #272727;
    
}
.contact_details .contact_d p{margin: 6px 15px;
    font-size: 12px;
    font-weight: 500;max-width: 260px;
    line-height: 2;}

.dis_flex .share_wtsp {padding: 0pc;
    margin: 10px auto;
    text-align: center;}
.dis_flex .share_wtsp select {}
.dis_flex  .share_wtsp input {font-size: 13px;
    border: 0px;
    padding: 10px;
    outline: none;
    background: white;
    box-shadow: 0px 0px 10px 0px #0000002e;
}
.dis_flex  .share_wtsp input[type=submit]{    background: #47b303;
    color: white;
    font-size: 10px;
    padding: 11px;
    top: -2px;
    position: relative;}

.dis_flex .big_btns {background: #2e2c41;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    margin: 3px 0px;
    border: 1px solid;
    width: 139px;
    font-weight: 500;
    box-shadow: 0px 0px 10px 0px #0000002e;

}
.dis_flex .big_btns i{}
.dis_flex .social_med {    padding: 2px;
    margin: 21px 0px 32px;
    display: inline-block;}
.dis_flex .social_med i{font-size: 19px;
    width: 15px;
    text-align: center;
    border-radius: 0px;
    padding: 9px 10px;}

.fa-twitter {background: #149bd2;
    color: white;}
.fa-facebook {background: #5858fd;
    
    color: white;}
.fa-linkedin {background:#007bb6;
color:white}
.fa-youtube {background: #e63e3e;
    color: white;}
.fa-pinterest {background:#cb2027;color:white}
.fa-instagram {background: #fd01bb;
    color: white;}


.card2 {background: white;
    width: 400px;
    margin: 7px auto;
    padding: 0px;
    border-radius: 6px;
    overflow: hidden;}
.card2 h1{}
.card2 h2{}
.card2 h3{
    text-align: center;
    font-size: 17px;
    background: #2e2c41;
    color: #f1f1f1;
    font-weight: 400;
    letter-spacing: -1px;
    width: -webkit-fill-available;
    border-bottom: 3px solid;
    padding: 12px 25px;
    margin: 0px 0px 21px;
    }
.card2 form{}
.card2 form input,.card2 form textarea{width: -webkit-fill-available;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #dedede;
    margin: 4px 26px;
    resize: vertical;
    background: #00000005;}
.card2 form input[type=submit]{
    color: white;
    font-size: 20px;
    background: #2e2c41;
    }

.card2 iframe {margin: 8px auto;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    border-radius: 5px;
    width: 360px;
    height: 240px;}
	
	.btn_6 {background: #c72d31;
    width: fit-content;
    padding: 9px;
    font-size: 12px;
    margin: 0 auto;
    border-radius: 4px;
    color: white;
    box-shadow: 0px 0px 10px 0px #0000}	
	.btn_5 {background: #4CAF50;
    width: fit-content;
    padding: 9px;
    font-size: 12px;
    margin: 0 auto;
    border-radius: 4px;
    color: white;
    box-shadow: 0px 0px 10px 0px #0000}	
	
	.pro_dis {color: #383737;
    font-size: 13px;
    font-weight: 500;
    margin: 10px;}
	.pro_price {color: #188e1d;
    font-weight: 500;
    margin: 9px;}
	
/*prouct services*/

.product_s {
    text-align: center;
    /* background: #fbf7d9; */
    padding: 10px;
    max-width: 40%;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    }	
	
	#product_services {text-align:center}
.product_s p{font-weight: 600;
    text-transform: capitalize;}	
.product_s img{
    width: 40%;
    max-width: 100%;
    height: auto;
    background: white;
    border-radius: 5px;
    }	


/*image gallery*/

.img_gall {text-align: center;
    margin: 10px auto;
    max-height: 400px;
    max-width: 90%;
    vertical-align: text-top;}
.img_gall img {
    background: white;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    width: 100%;
    }
/* about us*/

#about_us {}
#about_us h3{}
#about_us p{       white-space: pre-line;
    font-size: 12px;
    font-weight: 500;
    line-height: 2;
    padding: 10px 20px;
    margin: 0;}

/*payment */

#payment {}
#payment p{font-size: 19px;
    font-weight: 500;
    color: black;
    width: 77%;
    margin: 8px auto;}
#payment h2{font-size: 12px;
    font-weight: 500;
    color: gray;
    width: 77%;
    margin: 0 auto;}
#payment img{
    width: 96%;
    max-width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin: 10px 0px;
    }



.menu_bottom {
    background: white;
    width: -webkit-fill-available;
    text-align: center;
    color: #2e2c41;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow-x: auto;
}

.menu_container {width: auto;
    text-align: left;
    display: flex;}
 .menu_item{   text-align: center;
    font-weight: 600;
    display: inline-grid;
    font-size: 12px;
    margin: 15px;
    width: 209px;
    white-space: pre;}
 .menu_item i{font-size: 20px;}


/* order page */
 
 #shop_online {
	 display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
 }
 .order_box {width: 142px;
    display: inline-block;
    margin: 6px auto;
    vertical-align: text-top;
    border-radius: 4px;
    background: white;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #00000030;
    border: 2px solid #FF9800;
}
 .order_box img{width: 100%;
    max-height: 100px;}
 .order_box h2{padding: 9px 0px 3px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;}
 .order_box h4{padding: 0px 0px 7px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: #4CAF50;
}
 .order_box p{padding: 2px;
    margin: 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: gray;}
 .btn_buy{background: #FF5722;
    color: white;
    padding: 8px 10px;
    text-align: center;
    font-size: 12px;
    width: fit-content;
    margin: 0 auto 10px;
    border-radius: 3px;
    font-weight: 500;
    text-transform: uppercase;
}



.top_strip {
    background: linear-gradient(45deg, black, black);
    color: white;
    border-radius: 2px;
    width: 400px;padding: 10px 0 20px;line-height: 1.5;top: 20px;
    margin:11px auto;
    font-size: 12px;
    text-align: center;
}



/*Mobile style*/
@media screen and (max-width:700px){
	.card {
    width: -webkit-fill-available;
   
    overflow: hidden;
    margin: 0px auto 10px;
    z-index: 0;
  
}

.card2 {
   width:auto;
    margin: 0 5px;
    
}
.card_content2 {
	    z-index: 2;
        text-align: center;
        font-weight: 400;
        margin: 25% auto 0px;
        /*background: #0e85b7b5;*/
	}
}


@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700);


	
	.share_wtsp form{    display: flex;
    margin: 14px auto 20px;
    position: relative;
    width: fit-content;}
	.wtsp_share_btn  {background: #1aab2c;
    font-size: 12px;
    padding: 10px;cursor:pointer}
	.wtsp_share_btn i {}
	
	
	.share_box .close { font-size: 47px;
    text-align: end;
    padding: 0px 10px;
    font-weight: 400;
    color: red;}
	
	#whatsapp2 {background:#1aab2c;color:white}
	.fa-comment-dots	 {background: #1cbdff;
    color: white;}
	.share_box .close i {}
	.share_box {
		display:none;
		background: white;
    color: black;
    position: fixed;
    top: 10%;
    width: 351px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #00000033;
    z-index: 3;
    border-radius: 11px;}
	.shar_btns {    width: 100px;
    text-align: center;
    display: inline-block;}
	.shar_btns i{padding: 10px;
    border-radius: 8px;}
	.shar_btns p{font-size: 10px;}

.clr {
	clear: both;
}	
.qrcode_box .close { 
	font-size: 35px;
	text-align: center;
	margin: -16px -5px;
	/*padding: 0px 10px;*/
	font-weight: 400;
	color: red;
	cursor: pointer;
	float: right;
	width: 10%;
	    
}

.qrpop_hed {
    width: 90%;
    text-align: center;
    padding-left: 15px;
    font-weight: 600;
    padding-top: 20px;
}

.qrcode_box .close i {}
.qrcode_box {
	display:none;
	background: white;
    color: black;
    position: fixed;
    top: 10%;
    width: 351px;
    padding: 10px 0 50px 0;
    box-shadow: 0px 0px 10px 0px #00000033;
    z-index: 3;
    border-radius: 11px;
    right: 32px;
}
	
	/* animated button */
	.btn2 {background: #4CAF50;
    color: white;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px 0px #00000017;}
	
	.row33 {padding: 20px;
    color: #313131;
    text-align: center;}
	.row33 h1{      margin: 21px 0px 10px;
    text-align: center;
    font-weight: 500;
    color: #333333;
}
	.row33 p{font-size: 15px;
    text-align: center;
    width: 80%;
    margin: 27px auto;
    color: gray;}
	.row33 .benefit_box {width: 208px;
    display: inline-block;
    margin: 6px;
    background: white;
    text-align: center;
    padding: 21px;
    height: 151px;
    vertical-align: top;
    box-shadow: 0px 0px 10px 0px #0000001f;
    border-radius: 5px;
}


	.row33 .benefit_box i {font-size: 29px;
    color: #FF5722;}
	.row33 .benefit_box h3 {margin: 7px;
    font-weight: 600;}
	.row33 .benefit_box p {color: #383838;
    font-size: 12px;
    font-weight: 400;}
	
	/*view counter*/
	
	.view_counter {width: fit-content;
    max-width: 200px;
    text-align: center;
    font-size: 10px;
    padding: 2px 12px;
    background: black;
    color: white;
    border-radius: 3px;
    margin: 0 auto;
    top: 0px;}
	/*footer*/
	
	 .lbl_91{
        color: #272727;
        font-family: 'Montserrat';
        font-size: 13px;
        box-shadow: 0px 0px 10px 0px #0000002e;
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 8px;
        background: #FFF;
    }

	
	footer {background: black;
    color: white;}
	footer p{margin: 0px;
    padding: 14px;
    text-align: center;
    font-size: 11px;}
	
.lbl_91 {
    color: #272727;
    font-family: 'Montserrat';
    font-size: 13px;
    box-shadow: 0px 0px 10px 0px #0000002e;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 8px;
    background: #FFF;
}

	
